@import "./base.css";
@import "./navbar.css";
@import "./slider.css";
@import "./program.css";
@import "./footer.css";

/* 반응형 디자인 */
@media (max-width: 1024px) {
  .slider img {
    height: 400px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }

  .nav-links {
    margin-top: 15px;
    flex-direction: column;
  }

  .nav-links a {
    margin: 10px 0;
    font-size: 1rem;
  }

  .slider img {
    height: 300px;
  }

  .program-card img {
    height: 200px;
  }
}
